@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.ap-tab {
  overflow-x: hidden !important;
}

.corusel {
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 3;
}

.navbar-shrink {
  padding: 40px 0;
  transition: 0.5;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@keyframes ldio-f7jh5tp22k {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-f7jh5tp22k div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-f7jh5tp22k linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px/12px;
  transform-origin: 6px 52px;
}

.ldio-f7jh5tp22k div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666667s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666667s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666667s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1666666667s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.0833333333s;
  background: #fe718d;
}

.ldio-f7jh5tp22k div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}

.loadingio-spinner-spinner-x39n6g1q7y {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-f7jh5tp22k {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-f7jh5tp22k div {
  box-sizing: content-box;
}

#backtop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: -50px;
  right: 50px;
  background-color: #BB2339;
  color: #E5E5E5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shoh {
  background: #bb2339;
}

.navbar-nav {
  background: #bb2339;
}
.navbar-nav .nav-item {
  width: 105px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.navbar-nav .nav-item button {
  width: 131px;
  height: 48px;
  background: #bb2339;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.cont {
  padding-top: 57px;
  text-align: center;
}
.cont .home {
  justify-content: flex-start;
  padding-top: 100px;
  padding-right: 1200px;
}
.cont .home a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #b0b0b0;
  text-decoration: none;
  padding-top: 20px;
}
.cont .home a span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #bb2339;
}

.contact1 .conta {
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  border: 1px solid #242424;
  border-radius: 14px;
}
.contact1 .conta h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #242424;
}
.contact1 .conta img {
  margin-top: 12px;
  padding: 20px;
  background: rgba(36, 36, 36, 0.05);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.contact2 {
  text-align: start;
}
.contact2 h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 34px;
  color: #242424;
}
.contact2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
}
.contact2 .textarea textarea {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 110px;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.contact2 .sunbit {
  padding: 20px 0 50px 0;
}
.contact2 .sunbit input {
  padding: 18px 45px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.contact2 input:hover {
  background: #bb2339;
}
.contact2 .conta7 input {
  padding: 5px;
  width: 100%;
  height: 58px;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 12px;
}

.newsletter1 {
  position: relative;
  top: 206.5px;
  padding-bottom: 100px;
  width: 70%;
  height: 413px;
  text-align: center;
  justify-content: center;
  background: #bb2339;
  border-radius: 20px;
}
.newsletter1 h6 {
  padding: 64px 0 25px 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #ffffff;
}
.newsletter1 h1 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
}
.newsletter1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
}
.newsletter1 .inpuo {
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 300px;
}
.newsletter1 .inpuo .inpu {
  display: flex;
  flex-wrap: wrap;
}
.newsletter1 .inpuo .inpu input {
  padding: 0 0 0 15px;
  width: 500px;
  height: 52px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  border: 1px solid #ffffff;
  border-radius: 100px;
  flex-direction: row;
  background: #bb2339;
}
.newsletter1 .inpuo .inpu .inpu1 {
  padding: 0 0 0 32px;
}
.newsletter1 .inpuo .inpu .inpu1 input {
  width: 144px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
}

.map {
  text-align: center;
}
.map h1 {
  padding: 110px 0 40px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
}

.fotter-badiy {
  text-align: center;
  justify-content: center;
  background: #bb2339;
}
.fotter-badiy h6 {
  padding: 40px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
}
.fotter-badiy .fotter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 317px 100px 82px;
}
.fotter-badiy .fotter .fotter1 a {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
}
.fotter-badiy .fotter .fotter1 p {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.fotter-badiy .fotter .fotter2 {
  text-align: center;
  justify-content: center;
}
.fotter-badiy .fotter .fotter2 img {
  padding-right: 70px;
}
.fotter-badiy .fotter .fotter2 p {
  padding-top: 20px;
  padding-left: 100px;
  width: 70%;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.fotter-badiy .fotter .fotter2 .fotter3 {
  display: flex;
}
.fotter-badiy .fotter .fotter4 h5 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
}
.fotter-badiy .fotter .fotter4 p {
  width: 158px;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .fotter {
    display: block;
    text-align: center;
  }
}